h1
{
	font-size: 3.1em;
}

h2
{
	font-size: 2.1em;
}

@font-face 
{
		font-family: "AlexBrush-Regular";
		src: url('AlexBrush-Regular.ttf');
}

#presentation
{
	font-size: 4em;
	height: 300px;
	font-family: AlexBrush-Regular, arial;
}

#conteneur
{
	
	font-size: 2.1em;
}

.element
{
	height: 600px;
	width: 700px;

}

mark
{
	
	font-weight: bold;
	background-color: pink;
}

footer
{
	height: 300px;

}

.commentaire
{
	height: 200px;
	width: 500px;
	border: 2px solid;
	align-self: center;
}

.envoyer
{
	height: 20px;
	width:55px;
	border: 2px solid black;
	align-self: center;

}

/* Affichage d'une image en passant sur un lien */
a span  
{
    display: none;
    color: green;
}
a span img 
{
padding: 10px;
}
a:hover span    
{
display: block;
position: absolute;
z-index: 20;
border: 10px solid #000;
margin: 50px 50px;
box-shadow: 1px 1px 12px #555;
}
/* FIN */

a
{
	color: green;
}

body
{
	background-color: pink;
}

footer a
{
	color: black;
}

